[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib.git
[submodule "external/KaHIP"]
	path = external/KaHIP
	url = https://github.com/KaHIP/KaHIP.git
[submodule "external/METIS"]
	path = external/METIS
	url = https://github.com/KarypisLab/METIS.git
[submodule "external/unordered_dense"]
	path = external/unordered_dense
	url = https://github.com/martinus/unordered_dense.git
